In [9]:
import pandas as pd
import numpy as np

In [41]:
submission = pd.read_csv('submission/submission.csv')

In [63]:
numbers_string = ''.join([str(v) for v in submission['plates_string'].values])

In [64]:
set(numbers_string)

{' ',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'A',
 'B',
 'C',
 'E',
 'H',
 'K',
 'M',
 'O',
 'P',
 'T',
 'X',
 'Y',
 'a',
 'n',
 'Н',
 'Р',
 'Х'}

In [66]:
submission[submission['plates_string'].apply(lambda x: 'a' in str(x))]

         file_name plates_string
1223  test/791.jpg           NaN

# FIX NaNs

In [60]:
submission.loc[54, 'plates_string'] = 'E018TO178'
submission.loc[353, 'plates_string'] = 'O886OO33'
submission.loc[401, 'plates_string'] = 'H656MC37'
submission.loc[402, 'plates_string'] = 'E940AK35'
submission.loc[758, 'plates_string'] = 'T234OE34'
submission.loc[847, 'plates_string'] = 'T676AY161'
submission.loc[927, 'plates_string'] = 'C202TA70'
submission.loc[1044, 'plates_string'] = 'B777HP150'
submission.loc[1112, 'plates_string'] = 'K934OX197'
submission.loc[1291, 'plates_string'] = 'C202TA70'
submission.loc[1311, 'plates_string'] = 'P657BK47'
submission.loc[1555, 'plates_string'] = 'Y201TH86'
submission.loc[1560, 'plates_string'] = 'A123MX154'
submission.loc[1571, 'plates_string'] = 'K981MT27'
submission.loc[1656, 'plates_string'] = 'Р958НХ178'
submission.loc[2004, 'plates_string'] = 'Y055PT190'
submission.loc[2107, 'plates_string'] = 'E901BM58'
submission.loc[2708, 'plates_string'] = 'B545KE178'
submission.loc[2740, 'plates_string'] = 'B660KB96'
submission.loc[2853, 'plates_string'] = 'M746AK50'
submission.loc[3150, 'plates_string'] = 'K852BT60'
submission.loc[2878, 'plates_string'] = 'X002XX93'
submission.loc[2972, 'plates_string'] = 'P272TO123'

In [67]:
submission.to_csv('submission_fixed.csv', index=False)